/* start global styles settings */
:root {
    --primary-color: #257180;
    --primary-color-light: #63d9f0;
    --primary-color-light-rgb: #25718033;
}

.btn.btn-primary {
    --mdb-btn-bg: var(--primary-color);
    --mdb-btn-color: white;
    --mdb-btn-box-shadow: 0 0 10px 1px var(--primary-color);
    --mdb-btn-hover-bg: var(--primary-color-light);
    --mdb-btn-hover-color: black;
    --mdb-btn-focus-bg: var(--primary-color-light);
    --mdb-btn-focus-color: black;
    --mdb-btn-active-bg: var(--primary-color);
    --mdb-btn-active-color: white;
    --mdb-btn-box-shadow-state: 0 0 15px 3px #25718033, 0 0 15px 5px #25718033;
}

.btn-check:focus-visible + .btn-primary,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
    color: black;
}

body {
    font-family: "Delius Unicase", cursive;
    font-style: normal;
    background-color: #ececec;
}

/* end global styles settings */

/* NavBar */
.navbar {
    --mdb-nav-link-color: var(--primary-color-light);
    --mdb-navbar-active-color: var(--primary-color-light);
    background-color: transparent;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.navbar-nav {
    padding: 0 15%;
}

.nav-link {
    transition: all 0.5s;
    position: relative;
    font-weight: bold;
    color: black;
}

.nav-link:hover {
    color: var(--primary-color-light);
    text-shadow: 2px 2px 10px var(--primary-color-light);
}

.nav-link:after {
    transition: all 0.3s;
    content: "";
    background: var(--primary-color-light);
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    height: 10%;
    width: 0%;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 80%;
}

.nav-link.active:after {
    width: 35%;
}

.avatar a {
    color: black;
}

#notifications-icon {
    transition: all 0.1s;
    color: black;
}

/* end navbar */

/* start footer */
footer {
    color: white;
    background-color: var(--primary-color);
}
/* start footer */